<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        ul {
            padding: 0;
        }
    </style>
    <title>TECH BLOG CRAWLER</title>
</head>

<body>
    <!-- <iframe src="http://woowabros.github.io/?source=post_page-----e2d736d0e658----------------------" width="100%"
        height="100%" frameborder=0 scrolling=auto>

    </iframe> -->
    <div id="content">
        <ul id="list">

        </ul>
    </div>
    <script>
        colorMatcher = {
            "카카오": "#fcc203",
            "우아한 형제들": "#0cb0c9",
            "쿠팡": "#eb3c0c",
            "스포카": "#098ae0",
            "야놀자": "#e00978",
            "레진": "#fa2e05",
            "라인": "#12d90b",
            "에어비엔비": "#ff80a6",
            "구글": "#f70505",
            "페이스북": "#3d47b8",
            "넷플릭스": "#db1d0f",
            "라이엇게임즈": "#db1d0f",
            "구글플레이": "#0bdb57"
        }

        $(function () {
            $.get("http://58.141.61.11:8888/result.json", {}, function (data, status) {
                console.log(data);

                // 최신순으로 정렬
                sortedByDateArr = [];

                company = ["카카오", "우아한 형제들", "쿠팡", "스포카", "야놀자", "레진", "라인", "에어비엔비", "구글", "페이스북", "넷플릭스", "라이엇게임즈", "구글플레이"];

                res = '';


                company.forEach(cName => {
                    data[cName].forEach(item => {
                        sortedByDateArr.push(item.date + "$" + item.title + "$" + item.url + "$" + cName);
                    });
                });

                sortedByDateArr = sortedByDateArr.sort();
                sortedByDateArr.reverse();

                sortedByDateArr.forEach(rawItem => {
                    date = rawItem.split('$')[0];
                    title = rawItem.split('$')[1];
                    url = rawItem.split('$')[2];
                    cName = rawItem.split('$')[3];

                    res += '<a href="' + url + '"><li class = "list-group-item list-group-item-action"><div><strong style="color : ' + colorMatcher[cName] + '">' + title + '</strong></div><div style="color : gray;">' + date + '</div><div style="color : ' + colorMatcher[cName] + '">' + cName + '</div></li></a>';
                });

                // 그냥 가져오기
                // company.forEach(cName => {
                //     data[cName].forEach(item => {
                //         res += '<li><a href="'+item.url+'">'+item.title+'</a></li>';
                //     });
                // });

                console.log(res);
                $('#list').html(res);
            });
        });
    </script>
    <script>

        let isTopScroll = false;
        $(window).scroll(function () {
            var scrollHeight = $(document).height();
            var scrollPosition = $(window).height() + $(window).scrollTop();
            if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
                // $("body").css("background", "red");
                isTopScroll = true;
            } else {
                // $("body").css("background", "white");
                isTopScroll = false;
            }
        });

        var pStart = { x: 0, y: 0 };
        var pStop = { x: 0, y: 0 };

        function swipeStart(e) {
            if (typeof e['targetTouches'] !== "undefined") {
                var touch = e.targetTouches[0];
                pStart.x = touch.screenX;
                pStart.y = touch.screenY;
            } else {
                pStart.x = e.screenX;
                pStart.y = e.screenY;
            }
        }

        function swipeEnd(e) {
            if (typeof e['changedTouches'] !== "undefined") {
                var touch = e.changedTouches[0];
                pStop.x = touch.screenX;
                pStop.y = touch.screenY;
            } else {
                pStop.x = e.screenX;
                pStop.y = e.screenY;
            }

            swipeCheck();
        }

        function swipeCheck() {
            var changeY = pStart.y - pStop.y;
            var changeX = pStart.x - pStop.x;
            if (isPullDown(changeY, changeX)) {
                if(isTopScroll){
                    location.reload();
                }
            }
        }

        function isPullDown(dY, dX) {
            // methods of checking slope, length, direction of line created by swipe action 
            return dY < 0 && (
                (Math.abs(dX) <= 100 && Math.abs(dY) >= 300)
                || (Math.abs(dX) / Math.abs(dY) <= 0.3 && dY >= 60)
            );
        }

        document.addEventListener('touchstart', function (e) { swipeStart(e); }, false);
        document.addEventListener('touchend', function (e) { swipeEnd(e); }, false);
    </script>
</body>

</html>